* {
    box-sizing: border-box;
}
.tittle{
    background-color: pink;
    color:white;
}

.b{
    background-color: gray;
}

.p1{
    background-color: gray;
    color:yellow;
}

.p2{
    background-color: gray;
    color:greenyellow;
}

.p3{
    background-color: gray;
    color:skyblue;
}

.border1{
    width:1200px;
    height:100px;
    background-color: white;
    padding:10px;
    border:10px;
    border-style:solid;
    border-color:orange;
}

.p4{
    background-color: gray;
    color:white;
}








    



